/*
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #ccc;
	padding-top: 20%;
}
.box{
	width: 70%;
	background-color: #fff;
	padding: 7px;
	margin: auto;
}


select{
	padding: 7px;
	width: 80%;
	margin: auto;
	font-size: 24px;
}
#box2{
	padding: 7px;
	text-align: center;
	font-size: 28px;
	color: red;
	background-color: red;
	font-weight: bold;
}

#commune{
	margin-top: 15px;
	display: none;
}*/